# See http://help.github.com/ignore-files/ for more about ignoring files.

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

# dependencies
venv_*/
venv_finalproject/
venv_sesi_1/
venv_sesi_3/
venv_sesi9/
venv_sesi12/
hacktiv8/

